{%extends "base_dashboard.html"%}

{%block content%}
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-dark">Buku</h6>
                    <a href="{{url_for('buku.tambah_buku')}}">
                        <button class="btn-info">
                            Tambah Buku
                        </button>
                    </a>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Kode buku</th>
                            <th scope="col">judul buku</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Penulis Buku</th>
                            <th scope="col">Penerbit Buku</th>
                            <th scope="col">Tahun Penerbit</th>
                            <th scope="colgroup">Stok</th>
                            <th scope="colgroup">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in data%}
                        <tr>
                            <td>{{item.kd_buku}}</td>
                            <td>{{item.judul}}</td>
                            <td>{{item.genre}}</td>
                            <td>{{item.penulis}}</td>
                            <td>{{item.penerbit}}</td>
                            <td>{{item.tahun_terbit}}</td>
                            <td>{{item.stok}}</td>
                            <td><a href="{{url_for('buku.update_buku', kode_buku=item.kd_buku)}}">
                                    <button class="btn-info">update</button>
                                </a></td>
                            <td>
                                <a href="{{url_for('buku.delete_buku', kode_buku=item.kd_buku)}}">
                                    <button class="btn-danger">delete</button>
                                </a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}