{%extends "base_dashboard.html"%}

{%block content%}
<form class="row g-3" method="post" action="{{url_for('transaksi.update', user_id=data[0][0])}}">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nama</label>
        <input disabled placeholder="{{data[0][1]}}" type="email" class="form-control" id="inputEmail4" name="nama">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Email</label>
        <input disabled placeholder="{{data[0][2]}}" type="text" class="form-control" id="inputPassword4" name="email">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Judul</label>
        <input disabled type="text" class="form-control" id="inputAddress" placeholder="{{data[0][3]}}">
    </div>
    <div class="col-3">
        <label for="inputAddress2" class="form-label">Kursi</label>
        <input disabled type="text" class="form-control" id="inputAddress2" placeholder="{{data[0][4]}}">
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">Total</label>
        <input disabled type="text" class="form-control" id="inputCity" placeholder="{{data[0][5]}}">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Status</label>
        <select id="inputState" class="form-select" name="status">
            <option selected value="pending">{{data[0][6]}}</option>
            <hr>
            <option value="pending">Pending</option>
            <option value="success">Success</option>
            <option value="failed">Failed</option>
        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
{%endblock%}