{%extends "base_dashboard.html"%}

{%block content%}
<form class="row g-3">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nama</label>
        <input type="email" class="form-control" id="inputEmail4" name="nama">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Email</label>
        <input type="password" class="form-control" id="inputPassword4" name="email">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Judul</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Kursi</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">Total</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Status</label>
        <select id="inputState" class="form-select">
            <option selected>Pending</option>
            <option>Success</option>
            <option>Failed</option>
        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
{%endblock%}