<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>update baru</h3>
    <form action="" method="post">
        <div class="form-outline">
            <input type="text" id="form3Example1m" name="name" class="form-control form-control-lg" />
            <label class="form-label" for="form3Example1m">First name</label>
        </div>

        <a href="{{url_for('register')}}">
            <button type="submit" class="btn btn-success btn-lg ms-2">Register</button>
        </a>
    </form>
</body>

</html>